@page "/"
@inject NavigationManager _nav

<PageTitle>Home</PageTitle>

<h1>Sveiki atvykę į tatuiruočių studijų valdymo sistemą !</h1>
<br/>
<div class="row col-md-6">
    <div class="p-2 mb-1 bg-primary text-white">SF</div>
    <div class="p-2 mb-1 bg-info text-white">Miestai</div>
    <div class="p-2 mb-1 bg-info text-white">Tattoo studijos</div>
    <div class="p-2 mb-1 bg-info text-white">Tattoo meistrai</div>
    <div class="p-2 mb-1 bg-info text-white">Užsakymai</div>
</div>
<br/>
<div class="row col-md-6">
    <div class="p-2 mb-1 bg-primary text-white">PN1</div>
    <div class="p-2 mb-1 bg-info text-white">Klientai</div>
</div>
<br/>
<div class="row col-md-6">
    <div class="p-2 mb-1 bg-primary text-white">PP1</div>
    <div class="p-2 mb-1 bg-info text-white">Mokėjimai</div>
</div>
<br/>
<div class="row col-md-6">
    <div class="p-2 mb-1 bg-primary text-white">PP2</div>
    <div class="p-2 mb-1 bg-info text-white">Darbo kainos</div>
    <div class="p-2 mb-1 bg-info text-white">Sąskaitos</div>
</div>


